.telaLogin{
    background-image: url('../../assets/login.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    width: 17rem;
}

.title h1 {
    font-size: 38px;
}

.container .card {
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 20px 0px;
    padding: 20px 15px;
    text-align: center;
}

.image img {
    width: 85px;
    height: 85px;
}

.form input {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 2px transparent;
    border-style: solid;
    border-radius: 0;
    outline: none;
    font-size: 16px;
}

.formNegado input {
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 2px #c51111d7;
    border-style: solid;
    border-radius: 0;
    outline: none;
    font-size: 16px;

}

.avisar {
    display: block;
    color: #c51111d7;
    font-size: 12px;
    font-weight: 400;
}

.nAvisar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

.link {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
}

.container .card button {
    margin: 5px;
    background-color: #191234;
    color: #FFF;
    padding: 5px 25px;
    border-radius: 50px;
    border: 0px;
}